<% layout("/layouts/boilerplate")%>
<body>
    
<div class="row">
    <div class="col-8 offset-2">
    <h1>Edit your listing</h1>
    <form method="POST" action="/listings/<%=data.id%>?_method=PUT" class="needs-validation" novalidate  enctype="multipart/form-data">
        <div class="mb-3">
           <label for="title" class="form-label">title</label>
           <input type="text" value="<%=data.title%>" name="listings[title]" class="form-control" required>
           <div class="invalid-feedback">title required</div>
        </div>
        <div class="mb-3">
           <label for="description" class="form-label">Description</label>
           <input type="text" value="<%=data.description%>" name="listings[description]" class="form-control" required>
            <div class="invalid-feedback">description required</div>
        </div>
        <div class="mb-4">
            <img src="<%=data.image.url%>" style="height: 10rem;">
        </div>
        <div class="mb-4">
            <label for="image" class="form-label">Image</label>
            <input type="file" value="<%=data.image.url%>" name="listings[image]" class="form-control" >
            <div class="invalid-feedback">image url required</div>
        </div>
        <div class="mb-4">
            <label for="price" class="form-label">Price</label>
            <input type="text" value="<%=data.price%>" name="listings[price]"class="form-control" required>
             <div class="invalid-feedback">price required</div>
        </div>
        <div class="row mb-4">
           
               <div class="mb-3 col-5">
                  <label for="country" class="form-label"> Country</label>
                  <input type="text" value="<%=data.country%>" name="listings[country]"class="form-control" required>
                    <div class="invalid-feedback">country required</div>
               </div>
               <div class="mb-3 col-7">
                   <label for="location" class="form-label"> Location</label>
                   <input type="text" value="<%=data.location%>" name="listings[location]"class="form-control" required>
                   <div class="invalid-feedback">location required</div>
              </div>
            
       </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">EDIT</button>
        </div>
     </form>
   </div>
</div>
</body>
